<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <link rel="icon" href="/public/icon.png">
                <title>Watermelon Markets | Form</title>
        </head>
        <body>
                <h1>Simple Form</h1>
                <form action="/" method="post">
                        <h2>What is the name of your store?</h2>
                        <label for="name">Example: Razer Gold, Amazon, Target. (If you have multiple stores, choose your top gift card -- you can always add more later.)                        </label>
                        <input type="text" id="name" name="name">
                        <button type="submit">Next</button>

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email">

                        <button type="submit">Submit</button>
                </form>
        </body>
</html>
